<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dostavljac pocetna</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<div id="header">
    <h1 style="padding:22px;" th:text="${naslov}"></h1>
</div>

<div class="navbar">
    <ul>
        <li><a th:href="${'/korisnik/korisnik-pregledProfila/' + korisnik_id}">Pregled profila</a></li>
        <li><a th:href="${'/artikl/prikazArtikalaAdmin'}">Artikli</a></li>
        <li><a th:href="${'/korisnik/prikazDostavljaca'}">Dostavljaci</a></li>
        <li><a th:href="${'/korisnik/odabirIzvestaja'}">Izvestaji</a></li>
        <li><a th:href="${'/korisnik/home'}">Pocetna stranica</a></li>
    </ul>
</div>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>