<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artikl Detaljnije</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>

</head>
<body>

<h2 class="h2_padding" th:text="${naslov}"></h2>

<ul class="lista" th:object="${artikl}">
    <li th:text="'Opis = ' + *{opis}"></li>
    <li th:text="'Cena = ' + *{cena}"></li>
    <li th:text="'Kolicina = ' + *{kolicina}"></li>
    <li th:text="'Kategorija = ' + *{kategorija}"></li>
</ul>

<button><a th:href="${'/artikl/home'}">Nazad</a><br></button>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>