<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Selektovani artikli</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>

</head>
<body>

<h1>Prikaz selektovanih artikala</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Opis</th>
        <th>Kolicina</th>
        <th>Izbaci iz korpe</th>
    </tr>
    <tr th:each="artikl : ${selektovaniArtikli}">
        <td th:text="${artikl.id}"></td>
        <td th:text="${artikl.naziv}"></td>
        <td th:text="${artikl.cena}"></td>
        <td th:text="${artikl.opis}"></td>
        <td th:text="${artikl.kolicina}"></td>
        <td><a th:href="${'/korpa/izbaciIzSelektovanih/' + korisnik_id + '/' + artikl.id}">Izbaci iz korpe</a></td>
    </tr>
</table><br><br>

<button><a th:href="${'/korpa/potvrdiKupovinu/' + korisnik_id}">Potvrdi porudzbinu</button><br><br>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>