<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodavanje dostavljaca</title>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Dodavanje dostavljaca</h2>

<form th:object="${dostavljac}" method="post">

    <p>
        <label for="ime">Ime</label>
        <input id="ime" type="text" th:field="*{ime}" required/>
    </p>

    <p>
        <label for="prezime">Prezime</label>
        <input id="prezime" type="text" th:field="*{prezime}" required/>
    </p>

    <p>
        <label for="uloga">Uloga</label>
        <input id="uloga" type="text" th:field="*{uloga}" required/>
    </p>

    <p>
        <label for="email">Email</label>
        <input id="email" type="text" th:field="*{email}" required/>
    </p>

    <p>
        <label for="lozinka">Lozinka</label>
        <input id="lozinka" type="text" th:field="*{lozinka}" required/>
    </p>

    <p>
        <label for="telefon">Telefon</label>
        <input id="telefon" type="text" th:field="*{telefon}" required/>
    </p>

    <p>
        <label for="adresa">Lozinka</label>
        <input id="adresa" type="text" th:field="*{adresa}" required/>
    </p>

    <input type="submit" value="Potvrdi">
</form>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>