<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodavanje artikla</title>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Dodavanje artikla</h2>

<form class="form1" th:object="${artikl}" method="post">

    <p>
        <label for="naziv">Naziv</label>
        <input id="naziv" type="text" th:field="*{naziv}" required/>
    </p>

    <p>
        <label for="opis">Opis</label>
        <input id="opis" type="text" th:field="*{opis}" required/>
    </p>

    <p>
        <label for="cena">Cena</label>
        <input id="cena" type="text" th:field="*{cena}" required/>
    </p>

    <p>
        <label for="kolicina">Kolicina</label>
        <input id="kolicina" type="text" th:field="*{kolicina}" required/>
    </p>

    <p>
        <label for="kategorija">Kategorija</label>
        <input id="kategorija" type="text" th:field="*{kategorija}" required/>
    </p>

    <input type="submit" value="Potvrdi">
</form>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>