<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dostavljac pocetna</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<div id="header">
    <h1 style="padding:22px;" th:text="${naslov}"></h1>
</div>

<div class="navbar">
    <ul>
        <li><a th:href="${'/korisnik/korisnik-pregledProfila/' + korisnik_id}">Pregled profila</a></li>
        <li><a th:href="${'/korpa/pregledPorudzbina/' + korisnik_id}">Preuzete porudzbine</a></li>
        <li><a th:href="${'/korisnik/home'}">Pocetna stranica</a></li>
    </ul>
</div>

<h2 class="h2_padding">Prikaz kupljenih porudzbina</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Datum</th>
        <th>Kupac</th>
        <th>Preuzmi</th>
    </tr>
    <tr th:each="korpa : ${porudzbine}">
        <td th:text="${korpa.id}"></td>
        <td th:text="${korpa.datum}"></td>
        <td th:text="${korpa.kupac}"></td>
        <td><a th:href="${'/korpa/pregledPorudzbina/' + korisnik_id + '/'+ korpa.id}">Preuzmi</a></td>
    </tr>
</table>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>