<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prijava</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>

<body>

<h2 class="h2_padding">Prijavi se</h2>

<form method="post">

    <p>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required/>
    </p>

    <p></p>    <p>
    <label for="lozinka">Lozinka:</label>
    <input type="password" name="lozinka" id="lozinka" required/>
    </p>

    <input type="submit" value="Potvrdi"/>

</form>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>

</html>