<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Artikli</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>

<body>


<h2 class="h2_padding" th:text="${naslov}"></h2>

<div class="navbar">
    <ul>
        <li><a th:href="${'/artikl/voce'}">Voce</a></li>
        <li><a th:href="${'/artikl/povrce'}">Povrce</a></li>
        <li><a th:href="${'/artikl/home'}">Svi artikli</a></li>
        <li><a th:href="${'/korisnik/home'}">Pocetna stranica</a></li>
    </ul>
</div>

<form id="form_sort" th:action="@{/artikl/sortiranje}" method="post">
    <label for="sort">Sortiranje</label>
    <select id="sort" name="tipSorta">
        <option value="rastuce">Rastuce</option>
        <option value="opadajuce">Opadajuce</option>
    </select>
    <input type="submit" value="Potvrdi">
</form>

<table>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Detaljnije</th>
    </tr>
    <tr th:each="artikl : ${artikli}">
        <td th:text="${artikl.id}"></td>
        <td th:text="${artikl.naziv}"></td>
        <td th:text="${artikl.cena}"></td>
        <td><a th:href="${'/artikl/artikl/' + artikl.id}">Pogledaj</a></td>

    </tr>
</table>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>

</html>

