<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>
<body>

<div id="header">
<h1>Online prodavnica voca i povrca</h1>
</div>

<div id="navbar">

    <ul>
        <li><a th:href="${'/korisnik/registration-form'}">Registruj se</a></li>
        <li><a th:href="${'/korisnik/login'}">Prijavi se</a></li>
        <li><a th:href="${'/artikl/home'}">Artikli</a></li>
    </ul>

</div>


<img src="/images/naslovna.jpg"/>


<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>