<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Istorija kupovina</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h1>Pregled istorije kupovina</h1>

<table th:each="korpa : ${korpe}">
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Cena</th>
    </tr>
    <tr th:each="artikl : ${korpa.artikli_u_korpiKupljenih}">
        <td th:text="${artikl.id}"></td>
        <td th:text="${artikl.naziv}"></td>
        <td th:text="${artikl.cena}"></td>
    </tr><br><br><br>

</table>


<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>