<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Izmena dostavljaca</title>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Izmena dostavljaca</h2>

<form th:action="@{/korisnik/izmenaDostavljaca}" th:object="${dostavljac}" method="post">

    <p th:text="'Id dostavljaca = ' + *{id}"></p>
    <input type="hidden" th:field="*{id}">

    <p>
        <label for="ime">Ime</label>
        <input id="ime" type="text" th:field="*{ime}" th:value="*{ime}"/>
    </p>

    <p>
        <label for="prezime">Prezime</label>
        <input id="prezime" type="text" th:field="*{prezime}" th:value="*{prezime}"/>
    </p>

    <p>
        <label for="uloga">Uloga</label>
        <input id="uloga" type="text" th:field="*{uloga}" th:value="*{uloga}"/>
    </p>

    <p>
        <label for="email">Email</label>
        <input id="email" type="text" th:field="*{email}" th:value="*{email}"/>
    </p>

    <p>
        <label for="lozinka">Lozinka</label>
        <input id="lozinka" type="text" th:field="*{lozinka}" th:value="*{lozinka}"/>
    </p>

    <p>
        <label for="telefon">Telefon</label>
        <input id="telefon" type="text" th:field="*{telefon}" th:value="*{telefon}"/>
    </p>

    <p>
        <label for="adresa">Adresa</label>
        <input id="adresa" type="text" th:field="*{adresa}" th:value="*{adresa}"/>
    </p>

    <input type="submit" value="Potvrdi">
</form>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>