<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Izmena artikla</title>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Izmena artikla</h2>

<form class="form1" th:action="@{/artikl/izmenaArtiklaAdmin}" th:object="${artikl}" method="post">

    <p th:text="'Id artikla = ' + *{id}"></p>
    <input type="hidden" th:field="*{id}">

    <p>
    <label for="naziv">Naziv</label>
    <input id="naziv" type="text" th:field="*{naziv}" th:value="*{naziv}" required/>
    </p>

    <p>
    <label for="opis">Opis</label>
    <input id="opis" type="text" th:field="*{opis}" th:value="*{opis}" required/>
    </p>

    <p>
    <label for="cena">Cena</label>
    <input id="cena" type="text" th:field="*{cena}" th:value="*{cena}" required/>
    </p>

    <p>
    <label for="kolicina">Kolicina</label>
    <input id="kolicina" type="text" th:field="*{kolicina}" th:value="*{kolicina}" required/>
    </p>

    <p>
    <label for="kategorija">Kategorija</label>
    <input id="kategorija" type="text" th:field="*{Kategorija}" th:value="*{kategorija}" required/>
    </p>

    <input type="submit" value="Potvrdi">
</form>


<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>