<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Odabir izvestaja</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Odabir izvestaja</h2>

<form id="izvestaji" method="post" th:action="@{/korisnik/izvestaj}">

    <p>
        <label for="dnevni">Dnevni izvestaj</label>
        <input id="dnevni" type="text" name="dan">
        <div class="button_izvestaj"><button class=""><a th:href="${'/korisnik/izvestaj'}">Potvrdi</a></button></div>
    </p>



</form>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>