<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kupac</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<td th:switch="${prijavljeniKorisnik.uloga}">
    <span th:case="'Kupac'">
        <h2 class="h2_padding">Uspesna prijava!</h2>
        <button><a th:href="${'/korpa/kreiranjeKorpi/' + prijavljeniKorisnik.id}">Kreiranje korpi</a></button>
    </span>
    <span th:case="'Dostavljac'">
        <h2 class="h2_padding">Uspesna prijava!</h2>
        <button><a th:href="${'/korpa/dostavljacPocetna/' + prijavljeniKorisnik.id}">Preuzimanje porudzbine</a></button>
    </span>
    <span th:case="'Administrator'">
        <h2 class="h2_padding">Uspesna prijava!</h2>
        <button><a th:href="${'/korpa/adminPocetna/' + prijavljeniKorisnik.id}">Pocetna</a></button>
    </span>
</td>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>