<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pregled profila</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<ul class="lista" th:object="${korisnik}">
    <li th:text="'Ime = ' + *{ime}"></li>
    <li th:text="'Prezime = ' + *{prezime}"></li>
    <li th:text="'Uloga = ' + *{uloga}"></li>
    <li th:text="'E-mail = ' + *{email}"></li>
    <li th:text="'Adresa = ' + *{adresa}"></li>
    <li th:text="'Telefon = ' + *{telefon}"></li>
</ul>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>