<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korpe kreirane</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Dobili ste korpe na raspolaganje!</h2>

<button><a th:href="${'/korpa/kupacPocetna/' + korisnik_id}">Zapocnite kupovinu</a></button>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>