<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kupac pocetna</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
<body>

<div id="header">
<h1 style="padding:22px;" th:text="${naslov}"></h1>
</div>

<div class="navbar">
    <ul>
        <li><a th:href="${'/korisnik/korisnik-pregledProfila/' + korisnik_id}">Pregled profila</a></li>
        <li><a th:href="${'/korpa/istorijaKupovina/' + korisnik_id}">Pregled istorije kupovina</a></li>
        <li><a th:href="${'/korpa/omiljeniArtikli/' + korisnik_id}">Pregled omiljenih artikala</a></li>
        <li><a th:href="${'/korisnik/home'}">Pocetna stranica</a></li>
    </ul>
</div>

<h2 class="h2_padding">Prikaz dostupnih artikala</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Opis</th>
        <th>Kolicina</th>
        <th>Ubaci u korpu</th>
        <th>Ubaci u omiljene</th>
    </tr>
    <tr th:each="artikl : ${listaArtikala}">
        <td th:text="${artikl.id}"></td>
        <td th:text="${artikl.naziv}"></td>
        <td th:text="${artikl.cena}"></td>
        <td th:text="${artikl.opis}"></td>
        <td th:text="${artikl.kolicina}"></td>
        <td><a th:href="${'/korpa/korpaSelektovanih/' + korisnik_id + '/' + artikl.id}">Ubaci u korpu</a></td>
        <td><a th:href="${'/korpa/korpaOmiljenih/' + korisnik_id + '/' + artikl.id}">Ubaci u omiljene</a></td>
    </tr>
</table>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>