<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Omiljeni artikli</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h1>Prikaz omiljenih artikala</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Izbaci iz omiljenih</th>
    </tr>
    <tr th:each="artikl : ${omiljeniArtikli}">
        <td th:text="${artikl.id}"></td>
        <td th:text="${artikl.naziv}"></td>
        <td th:text="${artikl.cena}"></td>
        <td><a th:href="${'/korpa/izbaciIzOmiljenih/' + korisnik_id + '/' + artikl.id}">Izbaci iz omiljenih</a></td>
    </tr>
</table><br><br>


<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>