<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Preuzete porudzbine</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Pregled preuzetih porudzbina</h2>

<ul class="lista" th:each="korpa : ${porudzbine}">
    <li th:text="'Id = ' + ${korpa.id}"></li>
    <li th:text="'Datum = ' + ${korpa.datum}"></li>
    <li th:text="'Kupac = ' + ${korpa.kupac}"></li>
    <li th:text="'Status = ' + ${korpa.status}"></li>
    <li><a th:href="${'/korpa/otkaziPorudzbinu/' + korpa.id + '/' + korisnik_id}">Otkazi porudzbinu</a></li>
    <li><a th:href="${'/korpa/dostavljenaPorudzbina/' + korpa.id + '/' + korisnik_id}">Porudzbina uspesno dostavljena</a></li>
</ul>

<button><a th:href="${'/korpa/dostavljacPocetna/' + korisnik_id}">Nazad</a></button>



</body>
</html>