<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prikaz dostavljaca</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
<body>

<h2 class="h2_padding">Prikaz dostavljaca</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Email</th>
        <th>Lozinka</th>
        <th>Telefon</th>
        <th>Adresa</th>
        <th>Izmeni dostavljaca</th>
        <th>Obrisi dostavljaca</th>
    </tr>
    <tr th:each="dostavljac : ${dostavljaci}">
        <td th:text="${dostavljac.id}"></td>
        <td th:text="${dostavljac.ime}"></td>
        <td th:text="${dostavljac.prezime}"></td>
        <td th:text="${dostavljac.email}"></td>
        <td th:text="${dostavljac.lozinka}"></td>
        <td th:text="${dostavljac.telefon}"></td>
        <td th:text="${dostavljac.adresa}"></td>
        <td><a th:href="${'/korisnik/izmenaDostavljaca/' + dostavljac.id}">Izmeni</a></td>
        <td><a th:href="${'/korisnik/brisanjeDostavljaca/' + dostavljac.id}">Obrisi</a></td>
    </tr>
</table><br><br>

<button><a th:href="${'/korisnik/dodavanjeDostavljaca'}">Dodaj novog dostavljaca</a></button>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>