<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prikaz svih artikala</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
<body>

<h2 class="h2_padding">Prikaz artikala</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Opis</th>
        <th>Kolicina</th>
        <th>Kategorija</th>
        <th>Izmeni artikl</th>
        <th>Obrisi artikl</th>
    </tr>
    <tr th:each="artikl : ${listaArtikala}">
        <td th:text="${artikl.id}"></td>
        <td th:text="${artikl.naziv}"></td>
        <td th:text="${artikl.cena}"></td>
        <td th:text="${artikl.opis}"></td>
        <td th:text="${artikl.kolicina}"></td>
        <td th:text="${artikl.kategorija}"></td>

        <td><a th:href="${'/artikl/izmenaArtiklaAdmin/' + artikl.id}">Izmeni</a></td>
        <td><a th:href="${'/artikl/brisanjeArtiklaAdmin/' + artikl.id}">Obrisi</a></td>
    </tr>
</table><br><br>

<button><a th:href="${'/artikl/dodavanjeArtiklaAdmin'}">Dodaj novi artikl</a></button>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>