<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Korisnici</title>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h2 class="h2_padding">Registracija</h2>

<form th:action="@{/korisnik/save-user}" th:object="${korisnik}" method="post">

    <p>
    <label for="ime">Ime:</label>
    <input type="text" th:field="*{ime}" id="ime" required/>
    </p>

    <p>
    <label for="prezime">Prezime:</label>
    <input type="text" th:field="*{prezime}" id="prezime" required/>
    </p>


    <p>
    <label for="lozinka">Lozinka:</label>
    <input type="password" th:field="*{lozinka}" id="lozinka" required/>
    </p>

    <p>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" required/>
    </p>

    <p>
    <label for="telefon">Telefon:</label>
    <input type="tell" th:field="*{telefon}" id="telefon" required/>
    </p>

    <p>
    <label for="adresa">Adresa:</label>
    <input type="text" th:field="*{adresa}" id="adresa" required/>
    </p>

    <p>
    <label for="uloga">Uloga:</label>
        <select th:field="*{uloga}" id="uloga">
            <option th:value="'Kupac'" th:text="Kupac"></option>
            <option th:value="'Dostavljac'" th:text="Dostavljac"></option>
            <option th:value="'Administrator'" th:text="Administrator"></option>
        </select>
    </p>

    <input type="submit" value="Potvrdi">

</form>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>