<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stanje izvestaja</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h1 th:text="${naslov}"></h1>

<h2 class="h2_padding">Uspesno dostavljene porudzbine</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Datum</th>
        <th>Kupac</th>
        <th>Dostavljac</th>
        <th>Status</th>
    </tr>
    <tr th:each="korpa : ${korpe}">
        <td th:text="${korpa.id}"></td>
        <td th:text="${korpa.datum}"></td>
        <td th:text="${korpa.kupac}"></td>
        <td th:text="${korpa.dostavljac}"></td>
        <td th:text="${korpa.status}"></td>
    </tr>
</table>



<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>