<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/others.css}"/>
</head>
<body>

<h3 th:text="${korisnik.ime} + ' ' + ${korisnik.prezime} + ', ' + ${korisnik.uloga}"></h3>

<p>Uspesna registracija!</p>

<a th:href="@{'/korisnik/home'}">Pocetna stranica</a>

<div id="footer">
    <p>Project by Goran Markovic, IN7-2017</p>
</div>

</body>
</html>