body {

	background-color: #9c9f84;
	margin: 0px;
	font-family: Verdana, Georgia, serif;
	font-size: 14px;
}

#header {

	background-color: #5c755e;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
}

#navbar ul {           /* da nisam napisao ul box model bi se primenio na citav div */

    background-color: #000;
    margin: 10px;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
}

#navbar ul li {     /* ul moze i da se izostavi, dobra je praksa zbog putanje */
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: #fff;
    background-color: #000;
}

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #5c755e;
  text-align: center;
}


h1{

	font-size: 250%;
	text-align: center;
	color: #e5e4d7;
	font-family: "Century Gothic", "Gill Sans", Arial, serif;
	margin: 0px;

	position: relative;
    	top: 50%;
    	-webkit-transform: translateY(-50%);
    	-ms-transform: translateY(-50%);
    	ransform: translateY(-50%);
}

img {
  display:block;
  border-radius: 8px;
  width: 98%;
  position: relative;
  height: 570px;
  margin-left: auto;
  margin-right: auto;
}

img:hover{
    -webkit-filter: drop-shadow(8px 8px 10px green);filter: drop-shadow(8px 8px 10px green);
}







