body {

	background-color: #9c9f84;
	margin: 0px;
	font-family: Verdana, Georgia, serif;
	font-size: 14px;
}

#header {

	background-color: #5c755e;
	margin: 10px;
	height: 90px;
	border-radius: 5px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #5c755e;
  text-align: center;
}

form{
    padding: 20px;
    width: 300px;
    border: 1px solid black;
    background-color: #5c755e;
    position: relative;
    left: 20px;
}

form label {
    display: inline-block;
    width:60px;
    font-weight:bold;
    font-size:16px;
}

.form1 label {
    width:80px;
}

.h2_padding{
    position: relative;
    left: 20px;
}

input[type="submit"]{
  background-color: #9c9f84;
  border: none;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5c755e;
  color: white;
}

.navbar ul {           /* da nisam napisao ul box model bi se primenio na citav div */

    background-color: #000;
    padding: 5px;
    list-style-type: none;
    text-align: center;
}

.navbar ul li {     /* ul moze i da se izostavi, dobra je praksa zbog putanje */
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    font-family: Arial;
    padding: .2em 1em;
    color: #fff;
    background-color: #000;
}

.navbar ul li a:hover {
    color: #000;
    background-color: #fff;
}

.lista {
    background-color: #5c755e;
    padding: 20px;
}

.lista li{
    background-color: #9c9f84;
    padding: 5px;
    margin-left: 35px;
}

button{
  background-color: #5c755e;
  border: none;
  padding: 6px 15px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  left: 15px
}

button a:link{
    color: black;
}

button a:visited{
    color: black;
}

button a:hover{
    color: white;
}

#izvestaji{
    width:600px;
    padding-bottom: 0px
}

#izvestaji label{
    width:120px;
}

#izvestaji button{
    background-color: #9c9f84;
}

#izvestaji .button_izvestaj{
    display: inline-block;
    position: relative;
    left: 450px;
    bottom: 41px;
}

#form_sort {
    padding: 10px;
    width: 270px;
    border: 1px solid black;
    background-color: #5c755e;
    position: relative;
    left: 81%;
}

#form_sort label{
    width: 70px;
}
